
.profile-image {
    display: inline-block;
}


.profile-image.large img{
    height: 300px;
    width: 300px;
    border: 2px solid var(--neutral-3);
    background-color: var(--neutral-0);
    box-sizing: border-box;
    display: inline-block;
    margin: 50px;
}


.profile-image.small img {
    width: 56px;
    height: 56px;
    border-radius: 30px;
    border: 1px solid var(--neutral-3);
    background-color: var(--neutral-0);
    box-sizing: border-box;
    display: inline-block;
}