.bio {
    max-height: calc(19px * 2);
    overflow: hidden;
    text-overflow: ellipsis;
  }

 .list-item {
    width: 600px;
    height: 167px;
    background-color: var(--neutral-0);
    border: 2px solid var(--neutral-0);
    margin: 6px auto;
    padding: 20px;
 }

 .list-item a {
    text-decoration: none;
 }

 .list-item:hover {
    background-color: var(--neutral-1);
 }

 .profile-image-title {
     display: flex;
     align-items: center;
     padding-bottom: 10px;
 }

 .profile-header-small {
     padding-left: 10px;
 }